section#contacto {
    /* background: var(--blue); */
    background: var(--white);
    padding-bottom: var(--gap-xxl);
}
section#contacto h2 a {
    /* color: var(--white); */
    color: var(--blue);
}
#bodyMessage {
    margin: var(--gap) 0 var(--gap) 0;
}
#bodyMessage textarea {
    margin: 0;
}
#bodyMessage .wrapper {
    padding: var(--gap);
    border: 1px solid var(--blue-alt);
    border-radius: var(--gap-sm);
    margin: var(--gap) 0 var(--gap) 0;
}
#bodyMessage .wrapper h3 {
    margin: 0;
}
#bodyMessage .wrapper ul li {
    color: var(--blue);
}
#bodyMessage textarea {
    min-height: 175px;
}
/* Responsive */
/* Reparar que el nro y horario es comido por el botón "enviar" */
@media (min-width: 768px) {
    #subjectNameAndNumber.grid-3 {
        grid-template-columns: auto auto 250px;
    }
    #bodyMessage.grid-2, #emailAndCaptcha.grid-2 {
        grid-template-columns: auto 250px;   
    }
    #bodyMessage .wrapper {
        margin: 0;
    }
    #bodyMessage .submit {
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}