#wallpaper {
    width: 100vw;
    height: 100vh;
    background: url('../img/wallpaper/chemical-smoke-fhd.webp') center / cover;
    z-index: 5;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1); /* flip image */
}
#wallpaper div.wrapper {
    /* max-width: calc( 100vw - 58px ); */ /* perfect with hamburguer menu */
    max-width: calc( 100vw - 75px ); /* perfect with hamburguer menu */
    position: absolute;
    right: 0;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1); /* re-flip text */
    backdrop-filter: blur(5px);
    background: var(--white-transparent);
    padding: var(--gap-xxl); /* horizontal alignment with header's logo */
}
#wallpaper div.content {
    display: block;
    float: left;
    content: "";
}
#wallpaper div.content h1, #wallpaper div.content p {
    float: left;
    clear: both;
    text-align: left !important;
}
#wallpaper div.content h1 {
    margin: 0;
}
#contacto h2 a {
    color: var(--white);
    text-decoration: none;
    border: none;
    font-size: 24px;
    font-family: 'Poppins Semibold', sans-serif;
    font-weight: 500;
    margin: 20px 0 10px 0;
}
#contacto h2 a span {
    margin-left: var(--gap-xl);
}
/* Responsive */
@media (min-width: 1280px) {
    #wallpaper {
        height: calc(100vh - 85px);
    }
    #wallpaper div.wrapper {
        max-width: calc( 100vw - 50px );
        top: 0;
        height: 100%;
        max-width: 314px;
        display: grid;
        align-items: center;
    }
}