input, select, textarea, button, .button{
    /* Erase default style */
    outline: none;
    border: none;
    background: none;
    /* Set new defaults */
    color: var(--blue);
    border: 1px solid var(--blue-alt);
    padding: var(--gap);
    font-family: "Poppins Regular", sans-serif;
    font-size: 16px;
    margin: var(--gap) 0 var(--gap) 0;
    border-radius: var(--gap-sm);
    transition: all var(--animation-timing-sm) ease-out;
}
input, select, button {
    width: 100%;
}
input:hover, select:hover, textarea:hover {
    border-color: var(--skyblue);
}
input.error, select.error, button.error, textarea.error {
    border: 1px solid var(--red);
}
textarea {
    width: 100%;
    min-width: calc(100% - 50px);
    min-height: 150px;
}
input[type=submit], button {
    cursor: pointer;
}
input[type=submit]:hover, button:hover {
    background: var(--blue-alt);
    color: var(--white);
}
/* Hide arrows from input[number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Extra buttons */
.button.modded {
    border: none;
    background: var(--white-transparent);
    backdrop-filter: blur(2px);
    box-shadow: 2px 2px 0 var(--skyblue),
    4px 4px 0 var(--violet);
    transition: box-shadow var(--animation-timing-sm) ease-out;
}
.button.modded:hover, .button.modded:focus {
    box-shadow: 6px 6px 0 var(--skyblue),
    10px 10px 0 var(--violet);
}