<!-- Mega menu -->
<div id="megaMenu">
    <div class="left"></div>
    <div class="right wrapper grid center">
        <ul class="minimal grid-2">
            <li>
                <a href="{{ site.url }}/auxiliares#limpieza-descrude-blanqueo">Limpieza, descrude y blanqueo</a>
            </li>
            <li>
                <a href="{{ site.url }}/auxiliares#antiquebraduras">Antiquebraduras</a>
            </li>
            <li>
                <a href="{{ site.url }}/auxiliares#secuestrantes">Secuestrantes</a>
            </li>
            <li>
                <a href="{{ site.url }}/auxiliares#humectantes">Humectantes</a>
            </li>
            <li>
                <a href="{{ site.url }}/auxiliares#igualantes">Igualantes</a>
            </li>
            <li>
                <a href="{{ site.url }}/auxiliares#jabonado">Jabonado</a>
            </li>
            <li>
                <a href="{{ site.url }}/auxiliares#fijadores">Fijadores</a>
            </li>
            <li>
                <a href="{{ site.url }}/auxiliares#terminacion">Terminación</a>
            </li>
        </ul>
    </div>
</div>