<!-- Mega menu -->
<div id="megaMenu">
    <div class="left"></div>
    <div class="right wrapper grid center">
        <ul class="minimal grid-2">
            <li>
                <a href="{{ site.url }}/colorantes#directos">Directos</a>
            </li>
            <li>
                <a href="{{ site.url }}/colorantes#reactivos">Reactivos</a>
            </li>
            <li>
                <a href="{{ site.url }}/colorantes#dispersos">Dispersos</a>
            </li>
            <li>
                <a href="{{ site.url }}/colorantes#acidos">Ácidos</a>
            </li>
            <li>
                <a href="{{ site.url }}/colorantes#basicos">Básicos</a>
            </li>
        </ul>
    </div>
</div>