<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neochem | {{ page.title }}</title>
    {% unless site.dev %}
    <link rel="stylesheet" href="css/chunk.min.css?v=1" />
    {% endunless %}
    {% if site.dev %}
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/header-menu.css" />
    <link rel="stylesheet" href="css/input.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <!-- CSS for templates -->
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/category.css" />
    <link rel="stylesheet" href="css/notification.css" />
    <link rel="stylesheet" href="css/contact.css" />
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0KB9F345J"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J0KB9F345J');
    </script>
</head>
<body>
    <!-- <header id="header" class="{{ page.headerClass }}{{ layout.headerClass }}"> -->
    <header id="header">
        <div id="logo" class="logo">
            <a href="{{ site.baseurl }}/"></a>
        </div>
        <ul id="nav" class="removeMobile minimal inline">
            <li>
                <a href="{{ site.baseurl }}/#contacto">CONTACTO</a>
            </li>
            <li class="trigger">
                <a href="{{ site.baseurl }}/colorantes">COLORANTES</a>
                {% include megaMenu/colorantes.html %}
            </li>
            <li class="trigger">
                <a href="{{ site.baseurl }}/auxiliares">AUXILIARES</a>
                {% include megaMenu/auxiliares.html %}
            </li>
        </ul>
        <div class="menu removeDesktop">
            <a class="row cf" onclick="toggleSidebar()">
                <div class="three col">
                    <div id="hamburger" class="hamburger" style="padding-top: 10px">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </a>
        </div>
    </header>
    <nav id="sidebar" class="removeDesktop">
        <ul>
            <li class="auxiliares">
                <a href="{{ site.baseurl }}/auxiliares" class="grid center">AUXILIARES</a>
            </li>
            <li class="colorantes">
                <a href="{{ site.baseurl }}/colorantes" class="grid center">COLORANTES</a>
            </li>
            <li class="contacto">
                <a href="{{ site.baseurl }}/#contacto" class="grid center">CONTACTO</a>
            </li>
        </ul>
    </nav>
    <script src="{{ site.baseurl }}/js/headerCtrl.js"></script>
    <script src="{{ site.baseurl }}/js/sidebarCtrl.js"></script>