---
type: index
---
{% include header.html %}
<section id="home">
    <div id="wallpaper" class="grid center">
        <div class="wrapper logo"></div>
        <div class="floatingText">
            <p>(0054 11) 4730 4046</p>
            <p>
                <a href="#contact" class="button modded">Enviar un email</a>
            </p>
        </div>
        <div class="video">
            <video src="{{ site.baseurl }}/video/ink-wallpaper.mp4" width="100%" height="100%" class="wallpaperVideo" autoplay></video>
        </div>
    </div>
</section>
<section id="contacto">
    <div class="center container">
        <h2><a href="#contacto">
            Comunicate con nosotros
        </a></h2>
        {% include forms/contact.html %}
    </div>
</section>
{% include footer.html %}